<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "/www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="/www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<title>Sitemap_{Lankecms_webtitle}</title>
<meta name="keywords" content="{Lankecms_web_keywords}" />
<meta name="description" content="{Lankecms_web_description}" />
<STYLE type=text/css>
A:link {
	TEXT-DECORATION: none
}
A:visited {
	TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
A:active {
	TEXT-DECORATION: none
}
H1 {
	FONT-SIZE: 16px
}
BODY {
	FONT-FAMILY: Arial,宋体; FONT-SIZE: 13px
}
TD {
	FONT-FAMILY: Arial,宋体; FONT-SIZE: 13px
}
TH {
	FONT-FAMILY: Arial,宋体; FONT-SIZE: 13px
}
</STYLE>

</HEAD>
<BODY style="LINE-HEIGHT: 25px">
<H1><A href="{Lankecms_wz}{root}" target=_blank>Home</A></H1>

<H1><A href="{Lankecms_wz}{root}/about/2.html" target="_blank">About us</A></H1>
{aboutfl}

<H1><A href="{Lankecms_wz}{root}/products/" target="_blank">Product Catalogue</A></H1>
{shopfl}

<H1>Products Show</H1>
{showshop}

<H1><A href="{Lankecms_wz}{root}/News/" target="_blank">News Catalogue</A></H1>
{newsfl}

<H1>News Show</H1>
{shownews}

<H1><A href="{Lankecms_wz}{root}/cases/" target="_blank">Cases Catalogue</A></H1>
{casesfl}

<H1>Cases Show</H1>
{showcases}

<H1><A href="{Lankecms_wz}{root}/Download/" target="_blank">Download Catalogue</A></H1>
{downloadfl}

<H1>Download Show</H1>
{showdownload}

<H1><A href="{Lankecms_wz}{root}/recruitment/" target="_blank">Recruitment</A></H1>
<H1><A href="{Lankecms_wz}{root}/message/" target="_blank">Message</A></H1>
<H1><A href="{Lankecms_wz}{root}/Inquiry/" target="_blank">Inquiry</A></H1>
</BODY>
</HTML>
